openapi: 3.1.0
info:
  title: Atlas API
  version: 0.1.0
  description: Evidence-first public disaster information and authenticated editorial operations.
  license:
    name: Apache-2.0
    identifier: Apache-2.0
servers:
  - url: https://atlas-api.prabhavalabs.com
    description: Production
  - url: http://localhost:8081
    description: Local development
tags:
  - name: Platform
  - name: Public events
  - name: Administration
paths:
  /health/live:
    get:
      operationId: getLiveness
      tags: [Platform]
      summary: Process liveness
      responses:
        "200":
          description: The process is live.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /health/ready:
    get:
      operationId: getReadiness
      tags: [Platform]
      summary: Dependency readiness
      responses:
        "200":
          description: Required dependencies and schema are ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
        "503":
          $ref: "#/components/responses/Problem"
  /api/v1/meta:
    get:
      operationId: getPlatformMetadata
      tags: [Platform]
      summary: Build and response metadata
      responses:
        "200":
          description: Build metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlatformMetadata"
  /api/v1/events:
    get:
      operationId: listPublicEvents
      tags: [Public events]
      summary: List published disaster events
      security: []
      responses:
        "200":
          description: Published events ordered by priority and verification time.
          headers:
            ETag:
              schema: { type: string }
            Last-Modified:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventListResponse"
        "304":
          description: The current representation matches If-None-Match.
        "503":
          $ref: "#/components/responses/Problem"
  /api/v1/events/{slug}:
    parameters:
      - $ref: "#/components/parameters/EventSlug"
    get:
      operationId: getPublicEvent
      tags: [Public events]
      summary: Get one published disaster event
      security: []
      responses:
        "200":
          description: One published event.
          headers:
            ETag:
              schema: { type: string }
            Last-Modified:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventResponse"
        "304":
          description: The current representation matches If-None-Match.
        "404":
          $ref: "#/components/responses/Problem"
        "503":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/session:
    post:
      operationId: createAdminSession
      tags: [Administration]
      summary: Sign in with a local administrator identity
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginInput"
      responses:
        "200":
          description: A secure session was created. The response also sets session and CSRF cookies.
          headers:
            Set-Cookie:
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "429":
          $ref: "#/components/responses/Problem"
    get:
      operationId: getAdminSession
      tags: [Administration]
      summary: Read the current administrator session
      security:
        - adminSession: []
      responses:
        "200":
          description: Current identity and expiry.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionResponse"
        "401":
          $ref: "#/components/responses/Problem"
    delete:
      operationId: deleteAdminSession
      tags: [Administration]
      summary: Revoke the current administrator session
      security:
        - adminSession: []
          csrfToken: []
      responses:
        "204":
          description: Session revoked and cookies expired.
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
  /api/v1/admin/events/{id}/title:
    parameters:
      - name: id
        in: path
        required: true
        description: Canonical event ID.
        schema:
          type: string
          format: uuid
    patch:
      operationId: updateAdminEventTitle
      tags: [Administration]
      summary: Publish an audited event-title revision
      security:
        - adminSession: []
          csrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTitleInput"
      responses:
        "200":
          description: The new event revision was published.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventMutationResponse"
        "400":
          $ref: "#/components/responses/Problem"
        "401":
          $ref: "#/components/responses/Problem"
        "403":
          $ref: "#/components/responses/Problem"
        "404":
          $ref: "#/components/responses/Problem"
        "409":
          $ref: "#/components/responses/Problem"
        "422":
          $ref: "#/components/responses/Problem"
components:
  securitySchemes:
    adminSession:
      type: apiKey
      in: cookie
      name: atlas_session
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
  parameters:
    EventSlug:
      name: slug
      in: path
      required: true
      description: Stable human-readable event identifier.
      schema:
        type: string
        pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
  responses:
    Problem:
      description: A stable, non-sensitive problem response.
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    Health:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, ready]
    PlatformMetadata:
      type: object
      additionalProperties: false
      required: [version, commit, buildTime, generatedAt]
      properties:
        version: { type: string }
        commit: { type: string }
        buildTime: { type: string }
        generatedAt:
          type: string
          format: date-time
    DisasterEvent:
      type: object
      additionalProperties: false
      required:
        - id
        - slug
        - type
        - lifecycle
        - priority
        - confidence
        - title
        - summary
        - locationName
        - latitude
        - longitude
        - startedAt
        - verifiedAt
        - sourceCount
        - revision
      properties:
        id:
          type: string
          format: uuid
        slug: { type: string }
        type:
          type: string
          enum: [earthquake, wildfire, flood, storm, volcano, landslide, drought, tsunami, other]
        lifecycle:
          type: string
          enum: [emerging, active, monitoring, closed]
        priority:
          type: string
          enum: [critical, high, moderate, low]
        confidence:
          type: string
          enum: [high, medium, low, conflicting]
        title:
          type: string
          maxLength: 200
        summary:
          type: string
        locationName:
          type: string
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
        startedAt:
          type: string
          format: date-time
        verifiedAt:
          type: string
          format: date-time
        sourceCount:
          type: integer
          minimum: 0
        revision:
          type: integer
          minimum: 1
    EventListResponse:
      type: object
      additionalProperties: false
      required: [events, generatedAt, coverage]
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/DisasterEvent"
        generatedAt:
          type: string
          format: date-time
        coverage:
          type: string
          description: Machine-readable source coverage state.
    EventResponse:
      type: object
      additionalProperties: false
      required: [event, generatedAt]
      properties:
        event:
          $ref: "#/components/schemas/DisasterEvent"
        generatedAt:
          type: string
          format: date-time
    AdminUser:
      type: object
      additionalProperties: false
      required: [id, email, displayName, role, active]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        displayName:
          type: string
        role:
          type: string
          enum: [administrator, editor, viewer]
        active:
          type: boolean
    LoginInput:
      type: object
      additionalProperties: false
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 12
          maxLength: 1024
          writeOnly: true
    LoginResponse:
      type: object
      additionalProperties: false
      required: [user, csrfToken, expiresAt]
      properties:
        user:
          $ref: "#/components/schemas/AdminUser"
        csrfToken:
          type: string
          writeOnly: true
        expiresAt:
          type: string
          format: date-time
    SessionResponse:
      type: object
      additionalProperties: false
      required: [user, expiresAt]
      properties:
        user:
          $ref: "#/components/schemas/AdminUser"
        expiresAt:
          type: string
          format: date-time
    UpdateTitleInput:
      type: object
      additionalProperties: false
      required: [title, reason, expectedRevision]
      properties:
        title:
          type: string
          minLength: 5
          maxLength: 200
        reason:
          type: string
          minLength: 10
          maxLength: 500
        expectedRevision:
          type: integer
          minimum: 1
    EventMutationResponse:
      type: object
      additionalProperties: false
      required: [event]
      properties:
        event:
          $ref: "#/components/schemas/DisasterEvent"
    Problem:
      type: object
      additionalProperties: false
      required: [type, title, status, code, instance]
      properties:
        type:
          type: string
          format: uri
        title: { type: string }
        status:
          type: integer
          minimum: 400
          maximum: 599
        code: { type: string }
        instance: { type: string }
